/*
 * font
 */
$font_size_primary_title: 20px;
$font_size_title: 18px;
$font_size_small_title: 16px;
$font_size_text: 14px;
$font_size_small_text: 13px;
$font_size_tiny_text: 12px;

/*
 * color
 */
$color_primary: #03a9f5;
$color_third: #9cced4;
$color_fourth: #be9cd4;
$color_fifth: #9cd4ab;
$color_sixth: #d4c59c;
$color_main: #25333a;
$color_border: #909fac;
$color_assign: #98a6b2;
$color_secondary: #8884d8;
$color_text_primary: #333;
$color_text_secondary: #ccc;
$color_border_primary: #ccc;
$color_border_secondary: #f5f5f5;